*{
    box-sizing: border-box;
}

.forms{
    padding: 10px;
    background-color: aqua;
    border-radius: 4px;
    margin-right: 30%;
    margin-left: 25%;
}
input[type = "text"],
input[type = "tel"],
input[type = "email"],
input[type ="date"],
select,
textarea{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border-color: white;
}
fieldset{
    background-color: aliceblue;
    border-radius: 4px;
}
button{
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    background-color: rgba(60, 19, 240, 0.4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 4px;
}
button:hover{
    background-color: rgb(90, 241, 112);
    cursor: pointer;
   
}